<section>
  <div id={{id}} class="video-details">
    <h4 class="video-title">{{title}}</h4>
    <img class="video-image" src={{image}} />
    <p class="video-description">{{description}}</p>
  </div>
</section>
