<section>
  <div class="video-details">
    <h4 class="video-title">{{title}}</h4>
    <p class="video-channel">{{channel}}</p>
    <p class="video-description">{{description}}</p>
    <div class="video-image"><img src={{image}}></div>
</section>
