<!doctype html>
<html>
  <head>
    <title>Example of the Implicit Grant flow with Spotify</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/styles.css">
  </head>

  <body>
    <div class="container">
      <div id="song-select">
        <h3>Your Songs</h3>
        <ul>
        </ul>
      </div>
    </div>
    <div class="container">
      <form id="genre-form" name="genre">
        <fieldset id="#radio-genre">
          <h1>Genres</h1>
          <input type="radio" name="genre" value="rock"> Rock<br>
          <input type="radio" name="genre" value="hip-hop"> Hip-Hop<br>
          <input type="radio" name="genre" value="country"> Country<br />
          <input type="radio" name="genre" value="indie"> Indie<br>
          <input type="radio" name="genre" value="metal"> Metal<br>
          <input type="radio" name="genre" value="pop"> Pop<br />
          <input type="radio" name="genre" value="punk"> Punk<br>
          <input type="radio" name="genre" value="soul"> Soul<br />
          <input type="radio" name="genre" value="rap"> Rap<br />
        </fieldset>
        <input type="submit" value="Submit">
      </form>
      <form id="year-form">
        <fieldset>
          <h1>Time Period</h1>
          <select id="#year-select" name="year"><br>
            <option value="2000-2010">2000-2010</option>
            <option value="1990-2000">1990-2000</option>
            <option value="1980-1990">1980-1990</option>
            <option value="1970-1980">1970-1980</option>
            <option value="1960-1970">1960-1970</option>
          </select>
        </fieldset>
        <input type="submit" value="Submit">
      </form>
      <form id="term-form">
        <fieldset>
          <h1>Term Search</h1>
          <input type="text" value=""/>
        </fieldset>
        <input type="submit" value="Submit">
      </form>
    </div>

    <script id="oauth-template" type="text/x-handlebars-template">
      <h2>oAuth info</h2>
      <dl class="dl-horizontal">
        <dt>Access token</dt><dd class="text-overflow">{{access_token}}</dd>
      </dl>
    </script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script>

      $('#genre-form').submit(function(e){
        e.preventDefault();
        var radioGenre = $(this).find('#radio-genre , input:checked').val();
        console.log(radioGenre);
        $.ajax({
          type: 'POST',
          url: '/genreTracks',
          data: {
            'genre' : radioGenre
          }
        })
        .then(function(data){
          data.forEach(function(track){
          console.log(track.name);
          })
        })
      });
      $('#year-form').submit(function(e){
        e.preventDefault();
        var selectYear = $(this).find('#year-select , option:selected').val();
        console.log(selectYear);
        $.ajax({
          type: 'POST',
          url: '/yearTracks',
          data: {
            'year' : selectYear
          }
        })
        .then(function(data){
          data.forEach(function(track){
          console.log(track.name);
          })
        })
      });

      $('#term-form').submit(function(e){
        e.preventDefault();
        var inputTerm = $(this).find('input').val();
        console.log('HWATST')
        console.log(inputTerm);
        $.ajax({
          type: 'POST',
          url: '/termTracks',
          data: {
            'term' : inputTerm
          }
        })
        .then(function(data){
          data.forEach(function(track){
          console.log(track.name);
          })
        })
      });
  </script>
</html>
