header {
  background-color: #373F51;
  height: 25rem;
  border-bottom: #1B2347 10px solid;
  color: #1B2347;
  text-align: center;
}
header i {
  position: fixed;
  right: 5px;
  top: 0;
}
header h1 {
  margin-top: 10rem;
}

@media only screen and (min-width: 900px) {
    header {
        background: url(https://67.media.tumblr.com/9343c939cb8629156ec1556da371c4cf/tumblr_n6o4tnX9Dl1t5r1mpo1_500.gif) no-repeat center center;
        height: 90%;
        transition: .5s;
        border-bottom: none;

        /*url(https://67.media.tumblr.com/9343c939cb8629156ec1556da371c4cf/tumblr_n6o4tnX9Dl1t5r1mpo1_500.gif) no-repeat center center;*/
    }
    header h1 {
      display: none;
    }
    .container {
      margin: 0;
      width: 100%;
    }

    #nav ul {
      list-style: none;
      margin-right: 50rem;
      position: fixed;
      top: 1rem;
      left: 1rem;
      border-bottom: solid #1B2347 5px;
      padding-bottom: 1rem;
    }
    #nav li {
      display: inline;
      padding: 4rem;
      font-size: 2rem;
    }
}
