header {
  background-color: #6E9AAF;
  height: 25rem;
  border-bottom: #1B2347 10px solid;
  color: #1B2347;
  text-align: center;
}
header i {
  position: fixed;
  right: 5px;
  top: 0;
}
header h1 {
  margin-top: 10rem;
}

@media only screen and (min-width: 900px) {
    header {
        background: url(https://67.media.tumblr.com/9343c939cb8629156ec1556da371c4cf/tumblr_n6o4tnX9Dl1t5r1mpo1_500.gif) no-repeat center center;
        height: 100%;
        transition: .5s;
        border-bottom: none;
    }
    header h1 {
      display: none;
    }
}
